<h1>ClueNity</h1>
<p>- where multiple minds think better than one -</p>

<!-- Burger Menu -->
<div id="menu">
  <button id="burger-btn">☰</button>

  <div id="dropdown" class="hidden">
    <p><strong>Filters</strong></p>
    <ul>
      <li data-difficulty="">All</li>
      <li data-difficulty="easy">Easy</li>
      <li data-difficulty="medium">Medium</li>
      <li data-difficulty="hard">Hard</li>
    </ul>
  </div>
</div>

<!-- Riddles -->
<div id="riddles"></div>

<script src="/javascripts/script.js"></script>

