<div id="leaves-container"></div>
<nav id="navbar">
  <div id="menu">
    <button id="burger-btn">☰</button>

    <div id="dropdown" class="hidden">
      <h2><strong>Filters</strong></h2>
      <ul>
        <li data-difficulty="">ALL</li>
        <li data-difficulty="easy">EASY</li>
        <li data-difficulty="medium">MEDIUM</li>
        <li data-difficulty="hard">HARD</li>
      </ul>
    </div>
  </div>
</nav>

<h1>ClueNity</h1>
<h2>- where multiple minds think better than one -</h2>
<h2 id="difficulty-title">ALL RIDDLES</h2>
<div id="riddles"></div>



