<h1>ClueNity</h1>
<p>-where multiple minds think better than one-</p>

<!-- Burger menu -->
<div id="menu">
  <button id="burger-btn">☰</button>

  <div id="dropdown" class="hidden">
    <p class="menu-title">Filters</p>
    <ul>
      <li data-difficulty="">All</li>
      <li data-difficulty="easy">Easy</li>
      <li data-difficulty="medium">Medium</li>
      <li data-difficulty="hard">Hard</li>
    </ul>
  </div>
</div>

<!-- Riddles container -->
<div id="riddles"></div>

<script src="/javascripts/script.js"></script>

