<nav id="navbar">
  <div id="menu">
    <button id="burger-btn">☰</button>

    <div id="dropdown" class="hidden">
      <p><strong>Filters</strong></p>
      <ul>
        <li data-difficulty="">All</li>
        <li data-difficulty="easy">Easy</li>
        <li data-difficulty="medium">Medium</li>
        <li data-difficulty="hard">Hard</li>
      </ul>
    </div>
  </div>
</nav>

<h1>ClueNity</h1>
<p>- where multiple minds think better than one -</p>
<div id="riddles"></div>



